@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  font: 1em system-ui;
  color: var(--foreground);
  background: var(--background);
  /*font-family: Arial, Helvetica, sans-serif;*/
  /*padding: env(safe-area-inset-top, 20px) env(safe-area-inset-right, 20px)*/
  /*env(safe-area-inset-bottom, 20px) env(safe-area-inset-left, 20px);*/
  /*box-sizing: border-box;*/
  /*overflow: hidden;*/
}
p {
padding-bottom: 0 !important;
margin-bottom: 0 !important;
}
.fontSize18 input{
  font-size: 16px !important;
}
a {
  text-decoration: none !important;
  color: black !important;
}

.container {
  padding: 0 20px;
}
